/*--------------------------------------------------Navigation bar */
.navbar {
	margin-bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, .5);
	border: 0;
}

.navbar-default .navbar-brand {
	color: #f70438;
	font-family: "Spectral SC", serif;
	font-weight: 800;
	font-size: 24px;
	letter-spacing: 2px;
}

.navbar-default .navbar-brand:hover {
	color: #ff7b25;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.navbar-default .navbar-nav>li>a {
	color: #fafafa;
	font-family: "Spectral SC", serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ff7b25;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

/*---------------------------------------------Home page section*/
.callout-container {
	height: 100vh;
	background: url('../images/Guns-N-Roses.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.jumbotron {
	background-color: transparent;
	animation: move 2s 1 ease-in-out;
}

.jumbotron h1 {
	color: #f70438;
	font-family: "Spectral SC", serif;
}

.jumbotron p {
	color: #fafafa;
	text-shadow: 3px 2px #1a0000;
	font-family: "Spectral SC", serif;
	font-weight: 600;
}

mark {
	background-color: #010103;
	color: #ff7b25;
}

audio {
	width: 200px;
}

@keyframes move {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}

}

/*---------------------------------------------About us page*/
.about-section {
	background: url('../images/about-background.jpg') no-repeat center  fixed;
	background-size: cover;
	display: block;
	position: relative;
	align-items: center;
	margin: 0;
	padding: 100px 20px;
}

.about-text {
	display: block;
	position: relative;
	text-align: justify;
	background-color: #262d34e6;
	margin-top: 25px;
	margin-bottom: 50px;
	padding: 20px;
	color: #fafafa;
	font-family: "Spectral SC", serif;
}

.thumbnail {
	background: transparent;
	border: none;
	line-height: normal;
}

.thumbnail .caption {
	padding: 9px;
	color: #d99438;
	text-align: center;
}

.caption h3 {
	font-family: "Spectral SC", serif;
	font-weight: 800;
	font-size: 32px;
	letter-spacing: 2px;
	text-shadow: 1px 1px #000000;
}

.caption p {
	font-family: "Spectral SC", serif;
	font-weight: 600;
	font-size: 19px;
	letter-spacing: 2px;
	text-shadow: 1px 1px #000000;
}

/*---------------------------------------------Music page*/
.music-section {
	background: url('../images/about-background.jpg') no-repeat center center fixed;
	background-size: cover;
	display: block;
	position: relative;
	text-align: center;
	padding: 60px 20px;
}

.music-table {
	margin-top: 30px;
	max-width: 100%;
	display: block;
	height: auto;
}

.music-table table tr th audio {
	max-width: 100%;
}

.img-rounded {
	max-width: 100%;
	height: auto;
	margin-bottom: 32px;
	margin-top: 30px;
}

.table-hover>tbody>tr:hover {
	background-color: rgba(0, 0, 0, .5);
}

.table>tbody>tr>th {
	padding: 12px;
	color: #fafafa;
	text-align: center;
	font-family: "Spectral SC", serif;
	font-size: 16px;
	letter-spacing: 1px;
}

/*---------------------------------------------Videos page*/
.videos-section {
	background: url('../images/about-background.jpg') no-repeat center center fixed;
	background-size: cover;
	display: block;
	position: relative;
	text-align: center;
	padding: 60px 20px;
}

.videoclips {
	margin-top: 40px;
}

.speakers {
	top: 0;
	position: fixed;
	margin-top: 80px;
}

.speaker-left {
	left: 20px;
}

.speaker-right {
	right: 20px;
	transform: scaleX(-1);
}

.go-to-youtube {
	margin-top: 70px;
	margin-bottom: 30px;
}

.youtubelogo {
	width: 110px;
	height: 110px;
	padding: 30px 0;
	border-radius: 50%;
	font-size: 70px;
	line-height: 30px;
	text-align: center;
	color: #fafafa;
	background: #e80838;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

h2 {
	color: #ff410a;
	font-family: "Spectral SC", serif;
	font-weight: 600;
	font-size: 32px;
	text-align: center;
}

/*---------------------------------------------fan club page*/
.fanclub-section {
	background: url('../images/about-background.jpg') no-repeat center center fixed;
	background-size: cover;
	display: block;
	position: relative;
	align-items: center;
	padding: 60px 20px;
}

.store h1 {
	color: #d99438;
	font-family: "Spectral SC", serif;
	font-weight: 600;
}

.concerts {
	margin-top: 20px;
	margin-bottom: 20px;
}

.store {
	margin-top: 25px;
	margin-bottom: 50px;
}

.store a {
	width: 90px;
	height: 90px;
	padding: 30px 0;
	border-radius: 50%;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #fafafa;
	background: #ff410a;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	border-color: #e80838;
}

.ticket-button {
	background: #ff410a;
	color: #f3f319;
	font-family: "Spectral SC", serif;
	border: none;
}

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.2);
	height: auto;
}

.btn-primary:hover {
	background-color: #ff410ab0;
	border-color: #ff410a;
}

/*---------------------------------------------book us page*/
.bookus-section {
	background: url('../images/about-background.jpg') no-repeat center center fixed;
	background-size: cover;
	padding: 60px 20px;
}

.question h3 {
	font-family: "Spectral SC", serif;
	font-weight: 600;
	text-align: center;
	color: #ff410a;
	letter-spacing: 3px;
}

.question h5 {
	font-size: 24px;
	color: #fafafa;
}

.center-form {
	margin-bottom: 80px;
}

legend {
	font-family: "Spectral SC", serif;
	color: #ff410a;
	border-bottom: 2px solid #fafafa;
	letter-spacing: 1px;
	padding-top: 30px;
}

label {
	color: #fafafa;
}

.form-control {
	color: #000;
	background-color: #f5f5f5cf;
	border-color: #b3b300
}

input::placeholder {
	color: #fafafa;
}

textarea {
	resize: none;
}

.submit-button {
	background: #ff410a;
	color: #f3f319;
	font-family: "Spectral SC", serif;
	width: 250px;
	font-size: 18px;
	margin-top: 40px;
}

.form-horizontal {
	padding-top: 10px;
	margin: 10px auto;
}

.btn:hover {
	color: #fafafa;
}

/*---------------------------------------------Footer*/
footer {
	background: #000000;
	margin: 0;
	position: absolute;
	width: 100%;
}

.footer-logo {
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h5 {
	color: #b3b300;
	font-family: "Spectral SC", serif;
}

.world-music {
	background: url(../images/worldmusicawards.jpg);
}

.mtv-music {
	background: url(../images/MTVAwards-Logo.jpg);
}

.american-music {
	background: url(../images/americanmusicawardslogo.jpg);
}

.award-img {
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.social-links li a i {
	width: 38px;
	height: 38px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	color: #fafafa;
	background: #f70438;
	-webkit-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.social-links li a i:hover {
	transform: scale(1.5);
}

.social-links {
	margin: 0 auto;
	text-align: left;
}

.footer-heading {
	margin: 15px 0;
}

/*---------------------------------------------Media queries*/
@media (max-width:1366px) {
	.videoclips iframe {
		width: 100%;
		height: auto;
	}

	.speakers {
		width: 140px;
		height: 170px;
	}

}

@media (max-width:992px) {
	.social-links {
		margin: 30px 0;
		text-align: center;
	}

	.award-img {
		margin: 20px auto;
	}

	.footer-heading {
		text-align: center;
	}

	h2 {
		font-size: 20px;
	}

	.table>tbody>tr>th {
		font-size: 14px;
	}

}

@media (max-width:991px) {
	.navbar-default .navbar-brand {
		font-size: 20px;
	}

	.navbar-default .navbar-nav > li > a {
		padding-left: 7px;
		padding-right: 7px;
	}
	.jumbotron p{
		font-size: 15px;
	}
	.jumbotron h1{
		font-size: 25px;
	}

}

@media (max-width:425px) and (min-width:320px) {
	.table>tbody>tr>th {
		padding: 8px 4px;
		font-size: 10px;
	}

	.caption h3 {
		font-size: 20px;
	}

	.caption p {
		font-size: 16px;
	}

	.concerts {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.about-text {
		font-size: 10px;
	}

	.question h5, h3 {
		font-size: 21px;
	}

}